creds.py
creds.json
tidy-outlet-service-key.json
michael2-service-key.json
.DS_Store
.env*

uploaded_images/
__pycache__/
*.egg-info/
build/
deployment/secrets/
sql_sync/**/*.xlsx
sql_sync/data/extracted/
sql_sync/data/transformed/
sql_sync/data/*.db
